.slide {
    text-align: center;
    font-family: sans-serif;
    margin-top: 0vh;
    position: absolute;
    width: 100%;
    top: 78%;
}

.slide button {
    outline: 0;
    border: 0;
    opacity: transparent;
}

.rec.rec-arrow {
    height: 0px;
    width: 0px;
}

.rec.rec-dot {
    visibility: hidden;
}